.input-container{
    padding-bottom: 1px;
}
 
.input{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.input-counter{
    margin: auto;
    width: 90%;
}



.plus-icon{
    position: relative;
  
    left: 90%;
    top: 32px;
    
} 

 .minus-icon{
    position: relative;
    right: -10%;
    top: -32px;
}  