.header-container{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    background-color: white;
    padding: 1em;
}

/* .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} */

.nav-links li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.container-test{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.icon-default{
    width: 1.1em;
    margin-left: 10px;
}

.mobile-menu-icon{
    display: none;
}

.logo-icon{
    width: 8em;
    margin-left: 10px;
}

.orders-icon{
    background-color: orange;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 0px;
    color: white;
    display: inline-block;
    width: 1.1em;
    
}

.cart{
    background-color: white;
    border-color: transparent;
}

@media screen and (max-width: 780px) {

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 75px;
        transition: all 2s ease-in-out;
        width: 50%;
        background-color: white;
        height: 100vh;
        z-index: 2;
    }

    .nav-links-mobile a{
        text-decoration: none;
        color: black;
        font-weight: bold
    }

   /*  .navbar {
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    } */

  .mobile-menu-icon{
        display: block;
        position: relative;
        font-size: 1.1em;
        border: none;
        outline: none;
        top: 3px;
        right: 0px;
        background-color: white;
        box-sizing: border-box;
    } 
}